.wrapper{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/468/441/85/pack-of-dogs-on-a-white-background-different-dog-breeds-wallpaper-preview.jpg");
}